<div *ngIf="canVote(); then allowVotes; else hideVotes"> </div>

<ng-template #hideVotes>
  La période de votes n'est pas ouverte.
</ng-template>

<ng-template #allowVotes>
  <mat-accordion multi>
    <mat-expansion-panel [expanded]="showStats">
      <mat-expansion-panel-header>
        <mat-panel-title> Statistiques </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-checkbox color="primary" [checked]="showAlreadyVoted" (change)="updateGradeAlreadyVoted()"> Cacher les
        chansons déjà votées </mat-checkbox>
      <br>
      <br>
      Mes votes : {{this.votes.values.size}} / {{constitution.numberOfSongsPerUser * (constitution.maxUserCount - 1)}}
      <mat-progress-bar mode="determinate" value="{{userVotesProgressBarValue()}}"></mat-progress-bar>

      Total : {{summary.voteCount}} / {{numberOfVotes()}}
      <mat-progress-bar mode="determinate" value="{{totalVotesProgressBarValue()}}"></mat-progress-bar>
      <br>
      Moyenne : {{getMean()}}
      <br>
      Variance : {{getVar()}}
      <br>
      <br>
      Répartition des notes :
      <app-histogram [values]="histogramGrades"> </app-histogram>
    </mat-expansion-panel>
  </mat-accordion>
  <br>
  <div class="filter">
    <span class="filter-text"> <b> Filtre des utilisateurs : </b> </span>
    <img *ngFor="let user of getOtherUsers()" class="picture" matTooltip=" {{userFilterTooltip(user.uid, user.displayName)}}" [src]="user.photoURL"
      (click)="toggleUserFilter(user.uid)" [ngClass]="isSelected(user.uid) ? '' : 'black-and-white'">
    <button mat-raised-button color="primary" (click)="select('all')" class="filter-button"
      matTooltip="Afficher tous les utilisateurs">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="select('none')" matTooltip="Cacher tous les utilisateurs">
      <mat-icon>block</mat-icon>
    </button>
    <button mat-raised-button color="primary" class="filter-button" [matMenuTriggerFor]="menu"
      matTooltip="Classer les chansons">
      <mat-icon>filter_list</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item class="menu-panel" (click)="setOrderByUser(true)">
        <mat-icon class="menu-panel">list</mat-icon>
        <span>Classer par utilisateur</span>
      </button>
      <button mat-menu-item class="menu-panel" (click)="setOrderByFavs(true)">
        <mat-icon class="menu-panel">favorite</mat-icon>
        <span>Classer par favori</span>
      </button>
      <button mat-menu-item class="menu-panel" (click)="setOrderByGrade(0)">
        <mat-icon class="menu-panel">trending_up</mat-icon>
        <span>Classer par ordre croissant</span>
      </button>
      <button mat-menu-item class="menu-panel" (click)="setOrderByGrade(1)">
        <mat-icon class="menu-panel">trending_down</mat-icon>
        <span>Classer par ordre décroissant</span>
      </button>
      <button mat-menu-item class="menu-panel" (click)="resetOrder()">
        <mat-icon class="menu-panel">replay</mat-icon>
        <span>Réinitialiser</span>
      </button>
    </mat-menu>
  </div>
  <br>
  <br>
  <div *ngIf="cardsViewEnabled; then cardsView; else compactView">
  </div>
  <ng-template #cardsView>
    <div class="container">
      <div class="row g-4">
        <div class="col" *ngFor="let song of getSongsToVote()">
          <div class="card shadow-0 bg-dark z-card">
            <h3 class="card-header front">
              <div>
                <span class="text-overflowable"> {{song.title}} </span>
                <img src="{{getUser(song.user).photoURL}}" class="image-de picture"
                  matTooltip="{{getUser(song.user).displayName}}">
              </div>
              <i class="text-overflowable"> {{song.author}} </i>
            </h3>
            <img src="{{urlGetter.getImageURL(song)}}" class="card-img blur">
            <div class="card-img-overlay">
              <div class="card-body">
                <iframe *ngIf="currentIframeSongID === song.id; else loadImage" height="208" frameborder="0"
                  [src]="getSongSafeURL(song)"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
                <ng-template #loadImage>
                  <img src="{{urlGetter.getImageURL(song)}}" height="208" class="iframe-image"
                    (click)="updateCurrentIframeSong(song)">
                  <div class="centered">
                    <button mat-raised-button color="primary" (click)="updateCurrentIframeSong(song)">
                      <mat-icon>play_arrow</mat-icon>
                    </button>
                  </div>
                </ng-template>
                <br>
                <button mat-raised-button color="primary" (click)="openVoteNavigator(song)" matTooltip="Voter pour cette chanson">
                  <mat-icon>how_to_vote</mat-icon>
                </button>
                <button mat-raised-button color="primary" (click)="toggleFavorite(song, auth)"
                  [disabled]="noMoreFavorites(song) || !canVote()">
                  <mat-icon *ngIf="isAFavorite(song); else normalSong" class="favorite">favorite</mat-icon>
                </button>
                <button mat-raised-button color="primary" class="vote" [matMenuTriggerFor]="menu"
                  matTooltip="Classer les votes">
                  {{getVote(song)}}
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item class="menu-panel" (click)="setOrderByGrade(0)">
                    <mat-icon class="menu-panel">trending_up</mat-icon>
                    <span>Classer par ordre croissant</span>
                  </button>
                  <button mat-menu-item class="menu-panel" (click)="setOrderByGrade(1)">
                    <mat-icon class="menu-panel">trending_down</mat-icon>
                    <span>Classer par ordre décroissant</span>
                  </button>
                  <button mat-menu-item class="menu-panel" (click)="resetOrder()">
                    <mat-icon class="menu-panel">replay</mat-icon>
                    <span>Réinitialiser</span>
                  </button>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #compactView>
    <table id="t01">
      <tr>
        <th> ID </th>
        <th> Favoris </th>
        <th> Titre </th>
        <th> Auteur </th>
        <th> URL </th>
        <th> Ajouté par </th>
        <th> Note </th>
      </tr>
      <tr *ngFor="let song of getSongsToVote()">
        <td> {{ song.id }} </td>
        <td>
          <button mat-raised-button color="primary" (click)="toggleFavorite(song, auth)"
            [disabled]="noMoreFavorites(song) || !canVote()" matTooltip="Voter pour cette chanson">
            <mat-icon *ngIf="isAFavorite(song); else normalSong" class="favorite">favorite</mat-icon>
          </button>
        </td>
        <td>
          <button mat-raised-button color="primary" (click)="openVoteNavigator(song)">
            {{ song.title }}
          </button>
        </td>
        <td> {{ song.author }} </td>
        <td>
          <a href="{{song.url}}" target="_blank">
            <mat-icon>play_circle_outline</mat-icon>
          </a>
        </td>
        <td> {{getUser(song.user).displayName}} </td>
        <td> {{getVote(song)}} </td>
      </tr>
    </table>
  </ng-template>
</ng-template>

<ng-template #normalSong>
  <mat-icon>favorite_border</mat-icon>
</ng-template>