@import "../../../../../styles/variables.scss";

table {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	overflow-x: auto;
	font-size:medium;
}

td, th {
	border: 1px solid $sasuke;
	text-align: center;
	padding: 8px;
}

#t01 th {
	background-color: $mineshaft;
	color: whitesmoke;
}

#t01 tr:nth-child(even) {
	background-color: $sasuke;
}
#t01 tr:nth-child(odd) {
	background-color: $cape-cod;
}

.card {
	width: 26rem;
	height: 19.5rem;
	overflow: hidden;
	margin: auto;
}

.no-overflow {
	overflow: hidden;
}

.text-info {
	background-color: rgba($color: $cape-cod, $alpha: 0.75);
	width: fit-content;
	padding: 4px;
	border-radius: 6%;
}

.blur {
	filter: blur($blur);
	-webkit-filter: blur($blur);
    -moz-filter: blur($blur);
    -o-filter: blur($blur);
    -ms-filter: blur($blur);
	user-select: none;
}

.card-body {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	user-select: none;
}

iframe {
	width: 100%;
	padding-top: 35px;
}

.iframe-image {
	width: 100%;
	padding-top: 35px;
	padding-bottom: 5px;
	cursor: pointer;
	user-select: none;
}

.centered {
	cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
	overflow: hidden;
}

mat-expansion-panel {
  background-color: $mineshaft;
  color: whitesmoke;
}

mat-panel-title {
  color: whitesmoke;
}

mat-form-field {
  width: 35%;
}

::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
     color: whitesmoke;
  }
  .mat-form-field.mat-focused .mat-form-field-label {
      color: whitesmoke !important;
  }
  .mat-input-element {
      caret-color: whitesmoke!important;
  }
  
  mat-form-field {
      .mat-hint, input, ::placeholder, .mat-form-field-label {
          color: whitesmoke;
      }
  }
}

.vote {
	float: right;
	font-size:medium;
}

.filter {
	display: inline-block;
	min-width: 75%;

	background-color: $bg-dark;
  border-radius: 25px;
  border: 2px solid $sasuke;
}

.filter-text {
	margin-left: 5%;
	margin-top: 2%;
	margin-right: 2%;
}

.filter-button {
	margin-left: 2%;
}


.menu-panel {
	color: whitesmoke;
}

::ng-deep {
	.mat-menu-content {
		background-color: $bg-dark  !important;
	}

	.mat-menu-item:hover {
		background-color: $sasuke !important;
	}

	.mat-menu-panel {
		background-color: unset !important;
	}
}

.z-card {
	z-index: 0;
}