<div class="admin-background">
	<br>
	<h1 class="title"> CRÉER UNE CONSTITUTION </h1>
	<hr>
	<br>
	<form [formGroup]="newConstitutionForm">
		<mat-form-field appearance="outline" class="numberField">
			<mat-label> Saison </mat-label>
			<input matInput type="number" min="0" max="100" formControlName="season" required>
		</mat-form-field>
		<mat-form-field appearance="outline" class="numberField">
			<mat-label> Partie </mat-label>
			<input matInput type="number" min="0" max="100" formControlName="part" required>
		</mat-form-field>
		<mat-form-field appearance="outline" class="nameField">
			<mat-label> Nom </mat-label>
			<input matInput formControlName="name" required>
		</mat-form-field>
		<br>
		<mat-form-field appearance="outline" class="typeField">
			<mat-label> URL de la playlist </mat-label>
			<input matInput formControlName="playlistLink">
		</mat-form-field>
		<br>
		<hr>
		<br>
		<mat-form-field appearance="outline" class="typeField">
			<mat-label> Type </mat-label>
			<mat-select formControlName="type" required>
				<mat-option *ngFor="let type of getTypes()" [value]="type">
					{{type}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field appearance="outline" class="numberField">
			<mat-label> Note max </mat-label>
			<input matInput type="number" min="0" max="100" formControlName="maxGrade" required>
		</mat-form-field>
		<br>
		<hr>
		<br>
		<mat-label> Nombre de participants : </mat-label>
		<mat-slider thumbLabel min="4" max="10" step="1" formControlName="maxUserCount" required></mat-slider>
		<mat-label> Nombre de musiques par participants : </mat-label>
		<mat-slider thumbLabel min="1" max="25" step="1" formControlName="numberOfSongsPerUser" required></mat-slider>
		<br>
		<span class="warning"> Le nombre total de musique ne peut dépasser 100 musiques. </span>
		<br>
		<br>
		<hr>
		<br>
		<mat-form-field appearance="outline" class="typeField">
			<mat-label> Niveau d'anonymat </mat-label>
			<mat-select formControlName="anonymousLevel" required>
				<mat-option *ngFor="let level of getAnonymityLevels()"
					[value]="level">
					{{level}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<br>
		<mat-form-field appearance="fill">
			<mat-label>Date de fin de la constitution</mat-label>
			<input matInput formControlName="endDate" [matDatepicker]="picker" >
			<mat-hint>MM/DD/YYYY</mat-hint>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>
		<br> <br>
		<mat-checkbox color="primary" formControlName="isPublic"> </mat-checkbox>
		<mat-label> La constitution est publique </mat-label>
	</form>
	<br>
	<div *ngIf="!errorStatus.hidden" class="status">
		<div class="status-message"> {{ errorStatus.message }} </div>
	</div>
	<br>
	<button mat-raised-button color="primary" (click)="createConstitution()">
		Créer
	</button>
	<br>
	<br>
</div>
