@import "../../../../styles/variables.scss";


table {
	margin-left: auto;
	margin-right: auto;
	overflow-x: auto;
	font-size:medium;
	width: 33%;
}

td, th {
	border: 1px solid $sasuke;
	text-align: center;
	padding: 8px;
}

th {
	background-color: $mineshaft;
	color: whitesmoke;
}