@import "../../../../styles/variables.scss";

p {
  text-align: left;
  margin-left: 3%;
  margin-top: 1%;
}

.margin {
  margin-left: 1%;
  margin-right: 1%;
}

.user-icon {
	color:cadetblue;
}

table {
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	overflow-x: auto;
	font-size:medium;
}

td, th {
	border: 1px solid $sasuke;
	text-align: center;
	padding: 8px;
}

#t01 th {
	background-color: $mineshaft;
	color: whitesmoke;
}

#t01 tr:nth-child(even) {
	background-color: $sasuke;
}
#t01 tr:nth-child(odd) {
	background-color: $cape-cod;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
mat-select {
  color: whitesmoke;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
mat-select-value {
  color: whitesmoke !important;
}

::ng-deep {
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-appearance-outline .mat-form-field-outline {
     color: whitesmoke;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-mdc-form-field.mat-focused .mat-form-field-label {
      color: whitesmoke !important;
  }
  .mat-mdc-input-element {
      caret-color: whitesmoke!important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
  .mat-select-value {
    color: whitesmoke;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
  .mat-select-arrow-wrapper {
      color: whitesmoke;
  }

  mat-form-field {
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
      .mat-mdc-form-field-hint, input, ::placeholder, .mat-form-field-label {
          color: whitesmoke;
      }
  }
}