<app-navigator-song-display [song]="currentSong"></app-navigator-song-display>
<div class="title">
  <button mat-raised-button color="primary" class="margin" matTooltip="Chanson aléatoire" (click)="changeSong()"> <mat-icon>shuffle</mat-icon>  </button>
  <button mat-raised-button color="primary" class="favorite-button" (click)="toggleFavorite(currentSong, auth)" [disabled]="noMoreFavorites(currentSong) || !canModifyFavorite()">
    <mat-icon *ngIf="isAFavorite(currentSong); else normalSong" class="favorite">favorite</mat-icon>
  </button>
  <app-optionnal-song-infos-button class="favorite-button" [song]="currentSong"> </app-optionnal-song-infos-button>
</div>
<button mat-raised-button color="primary" (click)="closeWindow()">
  Fermer
</button>

<ng-template #normalSong>
	<mat-icon>favorite_border</mat-icon>
</ng-template>