<app-navigator-song-display [song]="currentSong"></app-navigator-song-display>
<div class="title" (window:keydown)="keyPressed($event)">
  <button mat-raised-button color="primary" class="previous-button" [disabled]="!previousSongExist()"
    (click)="changeSong(-1)">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button mat-raised-button color="primary" class="favorite-button" (click)="toggleFavorite(currentSong, auth)"
    [disabled]="noMoreFavorites(currentSong) || !canModifyFavorite()">
    <mat-icon *ngIf="isAFavorite(currentSong); else normalSong" class="favorite">favorite</mat-icon>
  </button>
  <app-optionnal-song-infos-button class="favorite-button" [song]="currentSong"> </app-optionnal-song-infos-button>
  <button mat-raised-button color="primary" class="next-button" [disabled]="!nextSongExist()" (click)="changeSong(1)">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <br>
</div>
<br>
<br>
<button mat-raised-button color="primary" (click)="closeWindow()">
  Fermer
</button>

<ng-template #normalSong>
  <mat-icon>favorite_border</mat-icon>
</ng-template>