.previous-button {
  background-color: #2E2E2E;
  color: whitesmoke;
  float: left;
}

.next-button {
  background-color: #2E2E2E;
  color: whitesmoke;
  float: right;
}

.favorite-button {
  background-color: #2E2E2E;
  color: whitesmoke;
}