<div class="title">
  <a href="{{currentSong.url}}" target="_blank">
    <h1 class="text-overflowable"> {{currentSong.author}} - {{currentSong.title}} </h1>
  </a>
  <span class="custom-br"></span>
</div>
<br>
<div class="title" (window:keydown)="keyPressed($event)">
  <iframe width="720" height="480" frameborder="0" [src]="currentSongSafeURL"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe>
  <br>
  <br>
  <button mat-raised-button color="primary" class="previous-button" [disabled]="!previousSongExist()"
    (click)="changeSong(-1)">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button mat-raised-button color="primary" class="favorite-button" (click)="toggleFavorite(currentSong, auth)"
    [disabled]="noMoreFavorites(currentSong) || !canModifyFavorite()">
    <mat-icon *ngIf="isAFavorite(currentSong); else normalSong" class="favorite">favorite</mat-icon>
  </button>
  <button mat-raised-button color="primary" class="next-button" [disabled]="!nextSongExist()" (click)="changeSong(1)">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <br>
</div>
<br>
<br>
<button mat-raised-button color="primary" (click)="closeWindow()">
  Fermer
</button>

<ng-template #normalSong>
  <mat-icon>favorite_border</mat-icon>
</ng-template>