<nav class="navbar navbar-expand-lg navbar-dark bg-dark started-at-the-top">
  <div class="container-fluid">
    <!-- Navbar Brand -->
    <a class="navbar-brand" href="#">MATBay!</a>

    <!-- Dropdown Menu -->
    <div mdbDropdown class="dropdown">
      <img src="{{auth.user.photoURL}}" class="dropdown-toggle d-flex align-items-center rounded-circle" href="#"
        id="dropdownMenuLink" mdbDropdownToggle role="button" data-mdb-toggle="dropdown" width="45" height="45" alt=""
        loading="lazy" aria-expanded="false" />

      <ul mdbDropdownMenu class="dropdown-menu navbar-dark" id="content" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#" id="content">Profil</a></li>
        <li><a class="dropdown-item" href="#" id="content">Déconnexion</a></li>
      </ul>
    </div>
  </div>

</nav>
