<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Navbar Brand -->
    <a class="navbar-brand" routerLink="/">MATBay!</a>

    <!-- Collapse button-->
    <button class="navbar-toggler" type="button"
      (click)="basicNav.toggle()"
      aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNav"
      mdbCollapse
      #basicNav="mdbCollapse"
    >
    <div mdbDropdown class="dropdown navbar-button">
      <button
        class="btn btn-primary purple dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        aria-expanded="false"
        mdbDropdownToggle
      >
        Constitutions
      </button>
      <ul mdbDropdownMenu class="dropdown-menu bakamitai" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item content"href="#">Créer une Constitution</a></li>
        <li><a class="dropdown-item content"href="#">Rejoindre une Constitution</a></li>
        <li><hr class="dropdown-divider"/></li>
        <li><a class="dropdown-item content" routerLink="/current-constitutions">Voir les Constitutions en cours</a></li>
        <li><a class="dropdown-item content" href="#">Voir l'Historique</a></li>
      </ul>
    </div>
    
    <button mat-raised-button class="btn purple btn-primary navbar-button" routerLink="/users">Utilisateurs</button>

      <!-- Dropdown Menu -->
      <div *ngIf="auth.isAuthenticate; then signedIn else signedOut"></div>
    </div>
  </div>
</nav>

<ng-template #signedIn>
  <div mdbDropdown class="dropdown ms-auto ">
    <img src="{{auth.user.photoURL}}" class="dropdown-toggle d-flex align-items-center rounded-circle navbar-button" href="#"
      id="dropdownMenuLink" mdbDropdownToggle role="button" data-mdb-toggle="dropdown" width="45" height="45" alt=""
      loading="lazy" aria-expanded="false" />

    <ul mdbDropdownMenu class="dropdown-menu navbar-dark content" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item content" routerLink="/profile">Profil</a></li>
      <li><a class="dropdown-item content" (click)="!!auth.signOut()">Déconnexion</a></li>
    </ul>
  </div>
</ng-template>
<ng-template #signedOut>
  <button mat-raised-button class="ms-auto" color="primary" (click)="auth.signIn()">Connexion</button>
</ng-template>
