<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<!-- Navbar Brand -->
		<a class="navbar-brand" routerLink="/">MATBay!</a>

		<!-- Collapse button-->
		<button class="navbar-toggler" type="button" (click)="basicNav.toggle()" aria-expanded="false"
			aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav" mdbCollapse #basicNav="mdbCollapse">
			<button mat-raised-button class="btn btn-primary purple dropdown-toggle navbar-button" [matMenuTriggerFor]="menu">
				Constitutions
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item class="menu-panel" (click)="openJoinConstitution()">
					<mat-icon class="menu-panel">open_in_browser</mat-icon>
					<span>Rejoindre une Constitution</span>
				</button>
				<span class="custom-br"> </span>
				<button mat-menu-item class="menu-panel" routerLink="/current-constitutions">
					<mat-icon class="menu-panel">dvr</mat-icon>
					<span>Voir les Constitutions en cours</span>
				</button>
				<button mat-menu-item class="menu-panel" [disabled]="true">
					<mat-icon class="menu-panel">account_balance</mat-icon>
					<span>Voir l'Historique</span>
				</button>
			</mat-menu>

			<button mat-raised-button class="btn purple btn-primary navbar-button"
				routerLink="/users">Utilisateurs</button>

			<button mat-raised-button class="btn btn-primary purple dropdown-toggle navbar-button" [matMenuTriggerFor]="ressourceMenu">
				Ressources
			</button>
			<mat-menu #ressourceMenu="matMenu">
				<button mat-menu-item class="menu-panel" (click)="navigateTo('https://mellotron.pages.dev')">
					<img src="assets/icons/mellotron.png" class="ressource-icon">
						<span>Mellotron - Archive Matbay</span>
				</button>
			</mat-menu>

			<button *ngIf="isAuthorized()" mat-raised-button class="btn purple btn-primary navbar-button"
				routerLink="/admin-page">Administrateur</button>


			<!-- Dropdown Menu -->
			<div *ngIf="auth.isAuthenticate; then signedIn else signedOut"></div>
		</div>
	</div>
</nav>

<ng-template #signedIn>
	<div class="ms-auto">
		<mat-icon *ngIf="!auth.isConnected" class="warning vertical image-de" matTooltip="Vous êtes déconnecté de Kalimba. Essayez de recharger la page. Si le problème persiste, contactez un administrateur.">cloud_off</mat-icon>

		<button mat-button  [disableRipple]="true" [matMenuTriggerFor]="menu">
			<img src="{{auth.user.photoURL}}" class="rounded-circle navbar-button" width="50"	height="50">
		</button>
	</div>

	<mat-menu #menu="matMenu">
		<button mat-menu-item class="menu-panel"  routerLink="/profile">
			<mat-icon class="menu-panel">person</mat-icon>
			<span>Profil</span>
		</button>
		<button mat-menu-item class="menu-panel" (click)="!!auth.signOut()">
			<mat-icon class="menu-panel">keyboard_tab</mat-icon>
			<span>Déconnexion</span>
		</button>
	</mat-menu>

</ng-template>
<ng-template #signedOut>
	<div class="ms-auto">
		<button mat-raised-button class="navbar-button" color="primary" (click)="navigateTo('invite')">Inscription</button>
		<button mat-raised-button color="primary" (click)="auth.signIn()">Connexion</button>
	</div>
</ng-template>