<div class="page">
	<br>
	<h1 class="title"> ADMINISTRATION </h1>
	<span class="custom-br"></span>
	<br>
	<div class="button-column">
		<br>
		<button mat-raised-button color="primary" (click)="changeSection(0)">
			<mat-icon>add_to_queue</mat-icon> Créer une constitution
		</button>
		<br>
		<br>
		<button mat-raised-button [disabled]="true" color="primary">
			<mat-icon>supervised_user_circle</mat-icon> Gérer les utilisateurs
		</button>
		<br>
		<br>
		<button mat-raised-button [disabled]="true" color="primary">
			<mat-icon>control_point_duplicate</mat-icon> Cloner une constitution
		</button>
		<br>
		<br>
		<button mat-raised-button [disabled]="true" color="primary">
			<mat-icon>forward</mat-icon> Importer une constitution
		</button>
		<br>
		<br>
		<button mat-raised-button color="warn" (click)="changeSection(1)">
			<mat-icon>cancel</mat-icon>
		</button>
		<br>
		<br>
	</div>
	<div [ngSwitch]="currentSection" class="option-column ">
		<app-new-constitution *ngSwitchCase="0"></app-new-constitution>
	</div>
</div>
