@import "../../../styles/variables.scss";

.option-column {
  width: 74%;
  float: left;
  text-align: center;
  margin-right: 1%;
}

.button {
  width: 75%;
}

.button-column {
  width: 22%;
  float: left;
  text-align: center;
  border: 2px solid $sasuke;
  background-color: $mineshaft;
  border-radius: 25px;
  margin-left: 1%;
  margin-right: 2%;
  overflow-x: auto;
}