@import "../../../styles/variables.scss";

.rwd-header {
  text-align: center;
}

mat-select {
  color: whitesmoke;
  text-align: center;
}

::ng-deep .mat-select-value {
  max-width: 100%;
  min-width: 0%;
  width: fit-content;
}

::ng-deep .mat-form-field-infix {
  width: auto !important;
  min-width: 0px !important;
  padding-right: 13px !important;
}

::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: whitesmoke;
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color: whitesmoke !important;
  }

  .mat-select-value {
    color: whitesmoke;
  }

  mat-form-field {

    .mat-hint,
    input,
    ::placeholder,
    .mat-form-field-label {
      color: whitesmoke;
    }
  }

  .mat-primary .mat-option:hover {
    background-color: $sasuke;
  }

  .mat-option.mat-active {
    color: whitesmoke;
    background-color: $cape-cod;
  }

  .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    color: whitesmoke;
    background-color: $angular-purple;
  }
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  padding: 5px;
  margin-top: 10px;
}

/* rewind */

.song-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  /* space between cards */
  justify-content: center;
  /* center them in the row */
  padding: 0;
  margin: 0;
  list-style: none;
}

.song-list li {
  /* each card will try to be at least 280px wide,
     grow to fill the row, but never exceed 32% of the row */
  flex: 0 0 280px;
  max-width: 32%;
  box-sizing: border-box;
}