<br>
<span *ngIf="selectedRewind !== undefined;else no_rewind">
    <div class="rwd-header">
        <h1>
            MATBAY REWIND <b>
                <mat-form-field>
                    <mat-select [(value)]="selectedYear" (selectionChange)="selectYear()" focused="true">
                        <mat-option [value]="year.key" *ngFor="let year of rewinds | keyvalue">{{year.key}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </b> DE <br>
            <b> <img src="{{getUser(selectedRewind.baseStats.uid).photoURL}}" class="rounded-circle" width="80"
                    height="80">
                {{getUser(selectedRewind.baseStats.uid).displayName}} </b>
        </h1>
        <span>
            Cette page vous permet de consulter les Rewinds de Matbay. <br>
            Un Rewind est un résumé de l'année de Matbay. <br>
            Vous pouvez également consulter les Rewinds des années précédentes en cliquant sur l'année. <br>
            <br>
            Vous avez ajouté {{selectedRewind.baseStats.nSongs}} chansons. <br>
            Vous avez participé à {{selectedRewind.baseStats.nConstitutions}} constitutions. <br> <br>
        </span>
    </div>

    <div id="one">
        <div class="section-title">Meilleures musiques :</div>
        <ul class="song-list">
            <li *ngFor="let songStats of selectedRewind.baseStats.bestSongs.songs; let isFirst = first">
                <song-card [songStats]="songStats" [songInfo]="getSongInfo(songStats.id)"
                    [associatedCstStats]="getCstData(songStats.id)" [emoji]="isFirst ? '👑' : ''"></song-card>
            </li>
        </ul>
    </div>
    <div id="two">
        <div class="section-title">Pires musiques :</div>
        <ul class="song-list">
            <li *ngFor="let songStats of selectedRewind.baseStats.worstSongs.songs; let isLast = last">
                <song-card [songStats]="songStats" [songInfo]="getSongInfo(songStats.id)"
                    [associatedCstStats]="getCstData(songStats.id)" [emoji]="isLast ?'💩':''"></song-card>
            </li>
        </ul>
    </div>

    <div>
        <div class="section-title">Vos équipes :</div>
        <ul class="teams">
            <li><rewind-team [type]="'Team de chansons'" [teamInfo]="selectedRewind.teamSongs"
                    [users]="users"></rewind-team></li>
            <li><rewind-team [type]="'Team de votes'" [teamInfo]="selectedRewind.teamVotes"
                    [users]="users"></rewind-team></li>
        </ul>
    </div>

    <div class="section-title">% de complétion des chansons ajoutées :</div>
    <app-ring-gauge [id]="'rewind-completion-gauge'" [data]='gaugeData'></app-ring-gauge>
</span>
<ng-template #no_rewind>Pas de Rewinds</ng-template>