@import "../../../styles/variables.scss";

.rwd-header {
  text-align: center;
}

::ng-deep .mat-select-value {
  max-width: 100%;
  min-width: 0%;
  width: fit-content;
}

::ng-deep .mat-form-field-infix {
  width: auto !important;
  min-width: 0px !important;
  padding-right: 13px !important;
}

::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: whitesmoke;
  }

  .mat-form-field.mat-focused .mat-form-field-label {
    color: whitesmoke !important;
  }

  .mat-select-value {
    color: whitesmoke;
  }

  mat-form-field {

    .mat-hint,
    input,
    ::placeholder,
    .mat-form-field-label {
      color: whitesmoke;
    }
  }

  .mat-primary .mat-option:hover {
    background-color: $sasuke;
  }

  .mat-option.mat-active {
    color: whitesmoke;
    background-color: $cape-cod;
  }

  .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    color: whitesmoke;
    background-color: $angular-purple;
  }
}