:host {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	padding: 16px;
}

.alignment {
	text-align: center;
}

.favorite-button {
	color: whitesmoke;
	text-align: center;
}

.vote-button {
	background-color: #2e2e2e;
	color: whitesmoke;
	text-align: center;
}
