@import "../../../../styles/variables.scss";


.content {
  color: whitesmoke;
  text-align: center;
}

form {
  width: 100%;
}

mat-form-field {
  width: 85%;
}

::ng-deep {
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: whitesmoke;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-mdc-form-field.mat-focused .mat-form-field-label {
    color: whitesmoke !important;
  }

  .mat-mdc-input-element {
    caret-color: whitesmoke !important;
  }

  .mat-mdc-chip-input {
    color: whitesmoke;
  }

  mat-form-field {
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    .mat-mdc-form-field-hint,
    input,
    ::placeholder,
    .mat-form-field-label,
    .mat-option-text {
      color: whitesmoke;
    }
  }
  /* TODO(mdc-migration): The following rule targets internal classes of autocomplete that may no longer apply for the MDC version. */
  .mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover):not(.mat-option-disabled) {
    background: $cape-cod;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
  .mat-mdc-option:hover:not(.mat-option-disabled) {
    background: $sasuke;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
  .mat-mdc-option.mat-selected:not(.mat-mdc-option-multiple):not(.mat-option-disabled) {
    background: $sasuke;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
  .mat-checkbox-frame {
    border-color: whitesmoke;
  }
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  overflow-x: auto;
}

td,
th {
  border: 1px solid $sasuke;
  text-align: center;
  padding: 8px;
}

#t01 th {
  background-color: $mineshaft;
  color: whitesmoke;
}

#t01 tr:nth-child(even) {
  background-color: $sasuke;
}

#t01 tr:nth-child(odd) {
  background-color: $cape-cod;
}

.icon {
  margin-right: 2%;
}

.platform-img {
  margin-bottom: 50%;
  width: 25px;
  height: 25px;
}

.releaseYearField {
  margin-right: 2%;
  width: 23%;
}

.albumField {
  width: 60%;
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: whitesmoke;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: whitesmoke;
}

.help-section {
  vertical-align: middle;
}

.help-button {
  width: 25px;
  height: 25px;
  margin-top: 15px;
  margin-left: 10px;
}