<div class="content" mat-dialog-content>
	<h1 class="title"> GÉRER MES CHANSONS </h1>
	<span class="custom-br"></span>
	<br>
	<mat-tab-group mat-align-tabs="center" backgroundColor="primary">
		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon>add_box</mat-icon>
				Ajouter
			</ng-template>
			<br>
			<h2 class="title"> AJOUTER UNE CHANSON </h2>
			<span class="custom-br"></span>
			<form [formGroup]="newSongForm">
				<br>
				<mat-icon *ngIf="!respectLengthLimit('title') && !isNil('title')" class="valid icon">check_circle_outline</mat-icon> 
				<mat-icon *ngIf="isNil('title')" class="warning icon" matTooltip="Ce champ ne peut pas être vide.">error_outline</mat-icon>
				<mat-icon *ngIf="respectLengthLimit('title')" class="warning icon" matTooltip="Attention, vous dépassez la limite de caractère (100). Kalimba n'enregistra que : {{showKalimbaValue('title')}}.">error_outline</mat-icon> 
				<mat-form-field appearance="outline">
					<mat-label> Titre </mat-label>
					<input matInput formControlName="title" required>
				</mat-form-field>
				<br>
				<mat-icon *ngIf="!respectLengthLimit('author') && !isNil('author')" class="valid icon">check_circle_outline</mat-icon> 
				<mat-icon *ngIf="isNil('author')" class="warning icon" matTooltip="Ce champ ne peut pas être vide.">error_outline</mat-icon>
				<mat-icon *ngIf="respectLengthLimit('author')" class="warning icon" matTooltip="Attention, vous dépassez la limite de caractère (100). Kalimba n'enregistra que : {{showKalimbaValue('author')}}. ">error_outline</mat-icon> 
				<mat-form-field appearance="outline">
					<mat-label> Auteur </mat-label>
					<input matInput formControlName="author" required>
				</mat-form-field>
				<br>
				<mat-icon *ngIf="isValidURL() && !isNil('url')" class="valid icon">check_circle_outline</mat-icon> 
				<mat-icon *ngIf="isNil('url')" class="warning icon" matTooltip="Ce champ ne peut pas être vide.">error_outline</mat-icon> 
				<mat-icon *ngIf="!isValidURL() && !isNil('url')" class="warning icon" matTooltip="Attention, l'URL entrée ne semble pas valide.">error_outline</mat-icon>
				<mat-form-field appearance="outline">
					<mat-label> URL </mat-label>
					<input matInput formControlName="url" required>
					<img *ngIf="!isNil('url')" matSuffix class="platform-img" [src]="songPlatformFromIcon()">
				</mat-form-field>
			</form>
			<button mat-raised-button color="primary" class="icon" (click)="addSong()">
				Ajouter
			</button>
			<button mat-raised-button color="warn" (click)="closeWindow()">
				Annuler
			</button>
		</mat-tab>
		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon>cancel</mat-icon>
				Retirer
			</ng-template>
			<br>
			<h2 class="title"> RETIRER UNE CHANSON </h2>
			<span class="custom-br"></span>
			<br>
			<table id="t01">
				<tr>
					<th> Titre </th>
					<th> Auteur </th>
					<th> Retirer </th>
				</tr>
				<tr *ngFor="let song of getUserSongs()">
					<td class="text-overflowable">{{song.author}}</td>
					<td class="text-overflowable">{{song.title}}</td>
					<td>
						<button mat-raised-button color="warn" (click)="removeSong(song.id)">
							<mat-icon>cancel</mat-icon>
						</button>
					</td>
				</tr>
			</table>
			<br>
			<button mat-raised-button color="warn" (click)="closeWindow()">
				Annuler
			</button>
		</mat-tab>
		<mat-tab label="Modifier" [disabled]="true">
			<ng-template mat-tab-label>
				<mat-icon>create</mat-icon>
				Modifier
			</ng-template>
		</mat-tab>
	</mat-tab-group>
</div>
