<div >
  <h1 class="title"> INFORMATIONS </h1>
  <span class="custom-br"> </span>
  <br>
  <mat-accordion multi class="panel">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header> 
          <mat-panel-title> General </mat-panel-title>
      </mat-expansion-panel-header>
      <li> Saison {{constitution.season}} - Partie {{constitution.part}} </li>
      <li> ID : {{constitution.id}} </li>
      <br>
      Nombre de participants : {{users.size}}/{{constitution.maxUserCount}}
      <mat-progress-bar mode="determinate" value="{{usersProgressBarValue()}}"></mat-progress-bar>
      <br>
      Nombre de chansons : {{songs.size}}/{{numberOfSongs()}}
      <mat-progress-bar mode="determinate" value="{{songsProgressBarValue()}}"> </mat-progress-bar>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header> 
          <mat-panel-title> Paramètres </mat-panel-title>
      </mat-expansion-panel-header>
      <form class="title" [formGroup]="constitutionParameterForm">
        <br>
        <mat-form-field appearance="outline">
          <mat-label> Nom de la constitution
          </mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label> URL de la constitution
          </mat-label>
          <input matInput formControlName="playlistLink">
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary" (click)="updateNameURL()"> Mettre à jour </button>
    </mat-expansion-panel>
  </mat-accordion>
  <br>
  <h1 class="title"> TYPE </h1>
  <span class="custom-br"> </span>
  <br>
  <div [ngSwitch]="constitution.type" class="content">
    <app-grade-owner *ngSwitchCase="constitutionType.GRADE"
      [songs]="songs" [users]="users" [constitution]="constitution">
    </app-grade-owner>
  </div>
</div>
