@import "../../../../styles/variables.scss";

mat-expansion-panel {
  background-color: $mineshaft;
  color: whitesmoke;
}

mat-panel-title {
  color: whitesmoke;
}

mat-form-field {
  width: 35%;
}

::ng-deep {
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-appearance-outline .mat-form-field-outline {
     color: whitesmoke;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-mdc-form-field.mat-focused .mat-form-field-label {
      color: whitesmoke !important;
  }
  .mat-mdc-input-element {
      caret-color: whitesmoke!important;
  }
  
  mat-form-field {
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
      .mat-mdc-form-field-hint, input, ::placeholder, .mat-form-field-label {
          color: whitesmoke;
      }
  }
}