@import "../../../styles/variables.scss";

h1 {
  font-size: 10vw;
  line-height: 100%;
  margin-top: min(5%, 100px);
}

h2 {
  color: $light-purple;
  font-size: 170%;
  font-weight: 300;
  margin:15px;
}

.title {
  margin-bottom: 6vw;

}

hr {
  margin: 5vh auto;
}

.wip {
  box-shadow: 5px 5px 5px #000;
  margin:20px;
  width:300px;
}

mat-expansion-panel {
  background-color: $mineshaft;
  color: whitesmoke;
  width: 50%;
  margin-left: 25%;
}

mat-panel-title {
  color: whitesmoke;
}

mat-panel-description {
  color: whitesmoke;
  justify-content: space-between;
  align-items: center;
}

.text {
  text-align: left;
}