@import "../../../styles/variables.scss";

h1 {
  font-size: xx-large;
}

.wip {
  border: 5px solid $angular-purple;
  -moz-border-radius: 28px;
  border-radius: 28px;  
}

mat-expansion-panel {
  background-color: $mineshaft;
  color: whitesmoke;
  width: 50%;
  margin-left: 25%;
}

mat-panel-title {
  color: whitesmoke;
}

mat-panel-description {
  color: whitesmoke;
  justify-content: space-between;
  align-items: center;
}

.text {
  text-align: left;
}