@import "../../../../../../styles/variables.scss";

table {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	overflow-x: auto;
	font-size:medium;
}

td, th {
	border: 1px solid $sasuke;
	text-align: center;
	padding: 8px;
  width: 1%;
}

#t01 th {
	background-color: $mineshaft;
	color: whitesmoke;
}

#t01 tr:nth-child(even) {
	background-color: $sasuke;
}
#t01 tr:nth-child(odd) {
	background-color: $cape-cod;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
mat-select {
  color: whitesmoke;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
mat-select-value {
  color: whitesmoke !important;
}

::ng-deep {
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: whitesmoke;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-mdc-form-field.mat-focused .mat-form-field-label {
    color: whitesmoke !important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
  .mat-select-value {
    color: whitesmoke;
  }

  mat-form-field {
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
      .mat-mdc-form-field-hint, input, ::placeholder, .mat-form-field-label {
          color: whitesmoke;
      }
  }

  .mat-primary .mat-mdc-option:hover {
    background-color: $sasuke;
  }

  .mat-mdc-option.mat-active {
    color: whitesmoke;
    background-color: $cape-cod;
  }

  .mat-mdc-select-panel .mat-mdc-option.mat-selected:not(.mat-mdc-option-multiple) {
    color: whitesmoke;
    background-color: $angular-purple;
  }
}
