<br>
<h1 class="title"> REJOINDRE MATBAY </h1>
<span class="custom-br"></span>
<br>
<div class="content">
  Utilisez le code d'invitation qui vous a été donné pour vous créez un compte : <br><br>
  <form [formGroup]="inviteForm">
    <mat-form-field appearance="outline" class="nameField">
			<mat-label> Code d'invitation </mat-label>
			<input matInput formControlName="inviteID" required>
		</mat-form-field>
  </form>
  <button mat-raised-button class="button" color="primary" (click)="findInvite()">
    Trouver mon invitaton
  </button>
  <br>
  <br>
  <span class="custom-br"></span>
  <br>
  <button mat-raised-button class="button" color="primary" (click)="createAccount()">
    Me connecter avec Google
  </button>
</div>

