<div class="song">
    <div class="song-header">
        <div class="added-by">
            {{this.mysong.addedBy}}
        </div>
    </div>
    <div class="song-preview" (click)="playSongReceive()">
        <div>
            <div class="song-thumbnail" [style.background-image]="getHQThumbnailUrlCSS()">
            </div>
            <div class="song-info">
                <div class="song-artist">
                    {{this.mysong.artistName}}
                </div>
                <div class="song-title">
                    {{this.mysong.songName}}
                </div>
            </div>
        </div>
    </div>
    <div class="song-commands">
        <div>
            <button mat-icon-button (click)="'song.deleteSong()'" matTooltip="Ouvrir le lien" [disabled]="true">
                <mat-icon>open_in_new</mat-icon>
            </button>
            <button mat-icon-button (click)="'song.deleteSong()'" matTooltip="Ouvrir dans un modal" [disabled]="true">
                <mat-icon>open_in_full</mat-icon>
            </button>
            <button mat-icon-button (click)="'song.toggleLikeSong()'" [color]="'song.isLiked' ? 'red' : ''"
                matTooltip="J'aime" [disabled]="true">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button (click)="'song.deleteSong()'" matTooltip="Supprimer" [disabled]="true">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>