// COLORS
$sasuke: #434647;
$bg-dark: #383838;
$cape-cod: #353738;
$mineshaft: #2E2E2E;
$angular-purple: rgba(103, 58, 183, 1);
$guest: #FFA901;
$guest-dark: #C27C0E;
$admin: #F93154;
$admin-dark: #AD1457;

// VALUES
$blur: 100px; // 0px // 12px // 75px // 5000px