// COLORS
$sasuke: #211e26;
$bg-dark: #09060f;
$cape-cod: #1c1c1c;
$mineshaft: #111;
$angular-purple: #693BB8;
$angular-purple-light: #7753b6;
$purple : #693BB8;
$dark-purple : #4a2886 ;
$light-purple : #a26dfd;
$guest: #C77B4E;
$guest-dark: #C77B4E;
$admin: #CF387C;
$admin-dark: #B3306B;

// VALUES
$blur: 100px; // 0px // 12px // 75px // 5000px
