@import "../../../../../styles/variables.scss";

table {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  overflow-x: auto;
}

td,
th {
  border: 1px solid $sasuke;
  text-align: center;
  padding: 8px;
}

#t01 th {
  background-color: $mineshaft;
  color: whitesmoke;
}

#t01 tr:nth-child(even) {
  background-color: $sasuke;
}

#t01 tr:nth-child(odd) {
  background-color: $cape-cod;
}
