<br>
<h1 class="title"> CONSTITUTIONS EN COURS </h1>
<span class="custom-br"></span>
<br>
<div class="title">
	<table id="t01">
		<tr>
			<th> </th>
			<th> Saison </th>
			<th> Partie </th>
			<th> Nom </th>
			<th> Président </th>
			<th> Youtube Playlist </th>
			<th> Utilisateurs </th>	
			<th> Statut </th>
		</tr>
		<tr *ngFor="let displayData of getConstitutions()">
			<td>
				<span *ngIf="displayData.constitution.isPublic" matTooltip="Publique">
					<mat-icon>public</mat-icon>
				</span>
				<span *ngIf="!displayData.constitution.isPublic" matTooltip="Privée">
					<mat-icon>vpn_lock</mat-icon>
				</span>
			</td>
			<td> {{displayData.constitution.season}} </td>
			<td> {{displayData.constitution.part}} </td>
			<td> {{displayData.constitution.name}}</td>
			<td> {{displayData.owner.displayName}} </td>
			<td>
				<div *ngIf="displayData.constitution.playlistLink !== ''">
					<a target="_blank" href="{{displayData.constitution.playlistLink}}">
						<mat-icon>library_music</mat-icon>
					</a>
				</div>
				<div *ngIf="displayData.constitution.playlistLink === ''"> Pas de lien Youtube Playlist disponible
				</div>
			</td>
			<td>
				{{ displayData.constitution.users.length}} / {{ displayData.constitution.maxUserCount}}
			</td>
			<td [ngSwitch]="getStatus(displayData.constitution)">
				<button mat-raised-button color="primary" *ngSwitchCase="'JOINED'" [routerLink]="['/constitution/', displayData.constitution.id]">Voir</button>
				<button mat-raised-button color="primary" *ngSwitchCase="'JOINABLE'" (click)="joinConstitution(displayData)" [routerLink]="['/constitution/', displayData.constitution.id]">Rejoindre</button>
				<span *ngSwitchCase="'FULL'">Complet</span>
			</td>
		</tr>
	</table>
</div>