@import "../../../styles/variables.scss";

h1{
  font-size:60px;
  font-weight: 200;
  line-height: 100%;
  margin:60px;
  text-transform: uppercase;
  position: relative;
}

hr {
  margin:25px auto;
  position: relative;
}

table {
  margin:auto;
  margin-top:40px;
  width: 95%;
  overflow-x: auto;
}

td, th {
  border: 0px solid #693BB855;
  text-align: center;
  padding: 8px;
  font-weight: 300;
  font-size: 110%;
}

th {
  font-weight: 500;
}

#t01 th {
  background-color: $mineshaft;
  color: whitesmoke;
}

#t01 tr:nth-child(even) {
background-color: #222;
}
#t01 tr:nth-child(odd) {
background-color: #2a2a2a;
}
