<br>
<h1 class="title"> PANTHÉON </h1>
<span class="custom-br"></span>
<br>
<div class="container">
  <div class="row g-4">
    <div class="col" *ngFor="let song of getPantheon()">
      <div class="card shadow-0 bg-dark z-card">
        <h3 class="card-header front">
          <div>
            <span class="text-overflowable title"> [{{song.season}} - {{song.part}}] {{song.name}} </span>
            <img src="{{getUser(song.user).photoURL}}" class="image-de picture" matTooltip="{{getUser(song.user).displayName}}">
          </div>
          <b class="text-overflowable"> <u> {{song.title}} </u>  </b> <br>
          <i class="text-overflowable"> {{song.author}} </i> 
        </h3>
        <img src="{{getImageURL(song)}}" class="card-img blur">
        <div class="card-img-overlay">
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>