.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
      "navbar"
      "content";
  height: 100%;
}

#content {
  grid-area: content;
  color: whitesmoke;
}
