<div class="fav-card-container ">
  <h1 class="fav-type-title"><b>{{ title }}</b></h1>
  <div class="fav-name"> 
    Pour un total de <span class="emph">{{ getNumberOfFavs() }}</span> favoris
    <span *ngIf="maxFavs > 0">sur <span class="emph"> {{ maxFavs }} </span> possibles</span> : <br> <br>

    <div class="team-category members-category">
        <div class="user-display-area">
            <div #memberCard *ngFor="let fav of getFavsSorted()" class="user-card song-card">
                <div *ngIf="fav[1] === getMaxFavs()" class="stamp">😍</div>
                <img *ngIf="getUser(fav[0]).photoURL" [src]="getUser(fav[0]).photoURL"
                    [alt]="getUser(fav[0]).displayName + ' profile picture'" class="user-avatar">
                <span class="user-name">
                  
                  {{ getUser(fav[0]).displayName }} <br>
                  <i> <span class="emph"> {{ fav[1] }} </span> favoris </i>
                </span>
            </div>
        </div>
    </div>
</div>
