<button *ngIf="isButtonRaised; else matButton" mat-raised-button color="primary" [disabled]="isEmpty()"
  [matMenuTriggerFor]="optionnalInfosMenu" matTooltip="Afficher les informations supplémentaires">
  <mat-icon>info</mat-icon>
</button>
<mat-menu #optionnalInfosMenu="matMenu">
  <b>Album</b> : {{convertToString(song.album)}} <br>
  <b>Année de sortie</b> : {{convertToString(song.releaseYear)}} <br>
  <b>Titres alternatifs</b> : {{convertToString(song.altTitles)}} <br>
  <b>Genres</b> : {{convertToString(song.genres)}} <br>
  <b>Langues</b> : {{convertLanguagesToString(song.languages)}} <br>
</mat-menu>

<ng-template #matButton>
  <button mat-icon-button color="primary" [disabled]="isEmpty()" [matMenuTriggerFor]="optionnalInfosMenu"
    matTooltip="Afficher les informations supplémentaires">
    <mat-icon>info</mat-icon>
  </button>
</ng-template>