@import "../../../../../styles/variables.scss";

.soiree {
  text-align: center;
}

.active {
  background-color: $angular-purple-light;
}

.round-navbard {
  background-color: $angular-purple;
  border-radius: 25px;
}