@import "../../../../styles/variables.scss";

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
mat-select {
  color: whitesmoke;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
mat-select-value {
  color: whitesmoke !important;
}

::ng-deep {
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-form-field-appearance-outline .mat-form-field-outline {
     color: whitesmoke;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  .mat-mdc-form-field.mat-focused .mat-form-field-label {
      color: whitesmoke !important;
  }
  .mat-mdc-input-element {
      caret-color: whitesmoke!important;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
  .mat-select-value {
    color: whitesmoke;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
  .mat-select-arrow-wrapper {
      color: whitesmoke;
      background-color: whitesmoke;
  }

  mat-form-field {
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
      .mat-mdc-form-field-hint, input, ::placeholder, .mat-form-field-label {
          color: whitesmoke;
      }
  }

  .mat-primary .mat-mdc-option:hover {
    background-color: $sasuke;
  }

  .mat-mdc-option.mat-active {
    color: whitesmoke;
    background-color: $cape-cod;
  }

  .mat-mdc-select-panel .mat-mdc-option.mat-selected:not(.mat-mdc-option-multiple) {
    color: whitesmoke;
    background-color: $angular-purple;
  }
}

.left {
  margin-left: 4%;
}