.user-card {
	width: 16rem;
	height: 27rem;
	margin: auto;
}

.user-card-image {
	height: 12rem;
}

.user-icon {
	color:cadetblue;
}

.custom-h3 {
	margin: 0 0 0;
	text-align: center;
}

.user-title {
  width: 95%;
	margin:auto;
  border-radius: 25px;
	text-align: center;
	font-size: large;
}
