@import "../../../../styles/variables.scss";

table {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	overflow-x: auto;
	font-size:medium;
}

td, th {
	border: 1px solid $sasuke;
	text-align: center;
	padding: 8px;
}

#t01 th {
	background-color: $mineshaft;
	color: whitesmoke;
}

#t01 tr:nth-child(even) {
	background-color: $sasuke;
}
#t01 tr:nth-child(odd) {
	background-color: $cape-cod;
}

.card {
	width: 24rem;
	overflow: hidden;
}

.no-overflow {
	overflow: hidden;
}

.text-info {
	background-color: rgba($color: $cape-cod, $alpha: 0.75);
	width: fit-content;
	padding: 4px;
	border-radius: 6%;
}

$blur: 70px; // 0px // 12px // 75px // 5000px
.blur {
	filter: blur($blur);
	-webkit-filter: blur($blur);
    -moz-filter: blur($blur);
    -o-filter: blur($blur);
    -ms-filter: blur($blur);
}

.card-body {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}

iframe {
	width: 100%;
	padding-top: 25px;
}

.iframe-image {
	width: 100%;
	padding-top: 25px;
	padding-bottom: 5px;
}

.image-de {
	float: right;
}
