@import "../../../../styles/variables.scss";

.player-container {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 700px;
	z-index: 1000;
	// make small and put int bottom right corner when unhovered
	transform: scale(0.5) translate(50%, 50%);
	transition: transform 0.2s ease;
}
.player-container:hover {
	transform: scale(1) translate(0, 0);
}
.gradient-background {
	// transparent to black
	pointer-events: none;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 800px;
	aspect-ratio: 9 / 9;
	background: radial-gradient(circle at 100% 100%, #000000, #00000000 50%);
}
.filter {
	display: inline-block;
	margin-top: -5%;
	width: 100%;

	background-color: $mineshaft;
	border-radius: 25px;
	border: 2px solid $sasuke;
}

.filter-text {
	margin-left: 2%;
	margin-top: 2%;
	margin-right: 2%;
}

.filter-button {
	margin-left: 2%;
	margin-top: 8px;
	margin-bottom: 8px;
}

table {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	overflow-x: auto;
	font-size: medium;
}

td,
th {
	border: 1px solid $sasuke;
	text-align: center;
	padding: 8px;
}

#t01 th {
	background-color: $mineshaft;
	color: whitesmoke;
}

#t01 tr:nth-child(even) {
	background-color: $sasuke;
}

#t01 tr:nth-child(odd) {
	background-color: $cape-cod;
}

.card {
	width: 26rem;
	height: 19.5rem;
	overflow: hidden;
	margin: auto;
}

.no-overflow {
	overflow: hidden;
}

.text-info {
	background-color: rgba($color: $cape-cod, $alpha: 0.75);
	width: fit-content;
	padding: 4px;
	border-radius: 6%;
}

.blur {
	filter: blur($blur);
	-webkit-filter: blur($blur);
	-moz-filter: blur($blur);
	-o-filter: blur($blur);
	-ms-filter: blur($blur);
	user-select: none;
}

.card-body {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	user-select: none;
}

.card-body>iframe {
	width: 100%;
	padding-top: 35px;
}

.iframe-image {
	width: 100%;
	padding-top: 35px;
	padding-bottom: 5px;
	cursor: pointer;
	user-select: none;
}

.centered {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

button {
	overflow: hidden;
}

.cancel {
	float: right;
}

.menu-panel {
	color: whitesmoke;
}

::ng-deep {
	.mat-menu-content {
		background-color: $bg-dark !important;
	}

	.mat-menu-item:hover {
		background-color: $sasuke !important;
	}

	.mat-menu-panel {
		background-color: unset !important;
	}
}

.z-card {
	z-index: 0;
}