<div *ngIf="cardsViewEnabled; then cardsView; else compactView">
</div>
<ng-template #cardsView>
	<div class="container">
		<div class="row g-5">
			<div class="col" *ngFor="let song of getSongs()">
				<div class="card shadow-0 bg-dark">
					<h3 class="card-header">
						<div>
							{{song.title}}
							<img src="{{getUser(song.user).photoURL}}" class="image-de picture" alt="...">
						</div>
						<i> {{song.author}} </i> 
					</h3>
					<img src="{{getImageURL(song)}}" class="card-img blur" alt="...">
					<div class="card-img-overlay">
						<div class="card-body">
							<iframe height="200" frameborder="0" [src]="getSongSafeURL(song)" [srcdoc]="generateLazyEmbedHTML(song)"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen>
							</iframe>	
							<br>
							<button mat-raised-button color="primary" (click)="openSongNavigator(song)">
								<mat-icon>music_video</mat-icon>
							</button>
							<button mat-raised-button color="primary" (click)="onNavigate(song)">
								<mat-icon>play_circle_outline</mat-icon>
							</button>
							<button mat-raised-button color="primary" [disabled]="true">
								<mat-icon>star_border</mat-icon>
							</button>
							<button *ngIf="isCurrentUserSong(song)" [disabled]="!canDeleteSong()" mat-raised-button color="warn" (click)="openDeleteSongWarning(song)">
								<mat-icon>cancel</mat-icon>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>
<ng-template #compactView>
	<table id="t01">
		<tr>
			<th> ID </th>
			<th> Titre </th>
			<th> Auteur </th>
			<th> URL </th>
			<th> Ajouté par </th>
		</tr>
		<tr *ngFor="let song of getSongs()">
			<td> {{ song.id }} </td>
			<td> 
				<button mat-raised-button color="primary" (click)="openSongNavigator(song)">
					{{ song.title }} 
				</button>
			</td>
			<td> {{ song.author }} </td>
			<td>
				<a href="{{song.url}}" target="_blank">
					<mat-icon>play_circle_outline</mat-icon>
				</a>
			</td>
			<td> {{ getUser(song.user).displayName }} </td>
		</tr>
	</table>
</ng-template>
