<div *ngIf="cardsViewEnabled; then cardsView; else compactView">
</div>
<ng-template #cardsView>
	<div class="container">
		<div class="row g-4">
			<div class="col" *ngFor="let song of getSongs()">
				<div class="card shadow-0 bg-dark">
					<h3 class="card-header front">
						<div>
							{{song.title}}
							<img src="{{getUser(song.user).photoURL}}" class="image-de picture" alt="...">
						</div>
						<i> {{song.author}} </i> 
					</h3>
					<img src="{{getImageURL(song)}}" class="card-img blur" alt="...">
					<div class="card-img-overlay">
						<div class="card-body">
							<iframe id="video1" *ngIf="currentIframeSongID === song.id; else loadImage"
							height="200" frameborder="0" [src]="getSongSafeURL(song)" 
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen>
							</iframe>
							<ng-template #loadImage>
								<img src="{{getImageURL(song)}}" height="208" class="iframe-image" (click)="updateCurrentIframeSong(song)">
								<div class="centered">
									<button mat-raised-button color="primary" (click)="updateCurrentIframeSong(song)"> <mat-icon>play_arrow</mat-icon></button>
								</div>
							</ng-template>
							<br>
							<button mat-raised-button color="primary" (click)="openSongNavigator(song)">
								<mat-icon>music_video</mat-icon>
							</button>
							<button mat-raised-button color="primary" (click)="onNavigate(song)">
								<mat-icon>play_circle_outline</mat-icon>
							</button>
							<button mat-raised-button color="primary" [disabled]="canDeleteSong()" (click)="toggleFavorite(song)" [disabled]="noMoreFavorties(song)">
									<mat-icon *ngIf="isAFavorite(song); else normalSong" class="favorite">favorite</mat-icon>
							</button>
							<button *ngIf="isCurrentUserSong(song)" [disabled]="!canDeleteSong()" mat-raised-button color="warn" class="cancel" (click)="openDeleteSongWarning(song)">
								<mat-icon>cancel</mat-icon>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>
<ng-template #compactView>
	<table id="t01">
		<tr>
			<th> ID </th>
			<th> Titre </th>
			<th> Auteur </th>
			<th> URL </th>
			<th> Ajouté par </th>
		</tr>
		<tr *ngFor="let song of getSongs()">
			<td> {{ song.id }} </td>
			<td> 
				<button mat-raised-button color="primary" (click)="openSongNavigator(song)">
					{{ song.title }} 
				</button>
			</td>
			<td> {{ song.author }} </td>
			<td>
				<a href="{{song.url}}" target="_blank">
					<mat-icon>play_circle_outline</mat-icon>
				</a>
			</td>
			<td> {{ getUser(song.user).displayName }} </td>
		</tr>
	</table>
</ng-template>

<ng-template #normalSong>
	<mat-icon>favorite_border</mat-icon>
</ng-template>