<div class="filter">
	<span class="filter-text"> <b> Filtre des utilisateurs : </b> </span>
	<img *ngFor="let user of getUsers()" class="picture clickable"
		matTooltip="{{userFilterTooltip(user.uid, user.displayName)}}" [src]="user.photoURL"
		(click)="toggleUserFilter(user.uid)" [ngClass]="isSelected(user.uid) ? '' : 'black-and-white'">
	<button mat-raised-button color="primary" (click)="select('all')" class="filter-button"
		matTooltip="Afficher tous les utilisateurs">
		<mat-icon>add_circle_outline</mat-icon>
	</button>
	<button mat-raised-button color="primary" (click)="select('none')" matTooltip="Cacher tous les utilisateurs">
		<mat-icon>block</mat-icon>
	</button>
	<button mat-raised-button color="primary" class="filter-button" [matMenuTriggerFor]="menu"
		matTooltip="Classer les musiques">
		<mat-icon>filter_list</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item class="menu-panel" (click)="setOrderByUser(true)">
			<mat-icon class="menu-panel">list</mat-icon>
			<span>Classer par utilisateur</span>
		</button>
		<button mat-menu-item class="menu-panel" (click)="setOrderByFavs(true)">
			<mat-icon class="menu-panel">favorite</mat-icon>
			<span>Classer par favori</span>
		</button>
		<button mat-menu-item class="menu-panel" (click)="resetOrder()">
			<mat-icon class="menu-panel">replay</mat-icon>
			<span>Réinitialiser</span>
		</button>
	</mat-menu>
</div>
<br>
<br>
<div *ngIf="cardsViewEnabled; then cardsView; else compactView">
</div>
<ng-template #cardsView>
	<div class="cards">
		<mat-card *ngFor="let song of getSongs()" class="card-r">
			<mat-card-header>
				<img mat-card-avatar src="{{getUser(song.user).photoURL}}"
					matTooltip="{{getUser(song.user).displayName}}">
				<mat-card-title class="card-text text-overflowable" matTooltip="{{songPropertyManager.getTitle(song)}}">
					{{songPropertyManager.getTitle(song)}}
				</mat-card-title>
				<mat-card-subtitle class="card-text text-overflowable"
					matTooltip="{{songPropertyManager.getSubTitle(song)}}"> <i>
						{{songPropertyManager.getSubTitle(song)}}
					</i> </mat-card-subtitle>
			</mat-card-header>
			<hr>
			<img src="{{urlGetter.getImageURL(song)}}" class="card-background-img"
				(click)="updateCurrentIframeSong(song)">
			<div class="card-body">
				<iframe *ngIf="currentIframeSongID === song.id; else loadImage" frameborder="0" class="iframe"
					[src]="getSongSafeURL(song)"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
				</iframe>
				<ng-template #loadImage>
					<img src="{{urlGetter.getImageURL(song)}}" class="iframe-image"
						(click)="updateCurrentIframeSong(song)">
					<div class="centered">
						<button mat-raised-button color="primary" (click)="updateCurrentIframeSong(song)">
							<mat-icon>play_arrow</mat-icon></button>
					</div>
				</ng-template>
				<button mat-button color="primary" (click)="openSongNavigator(song)"
					matTooltip="Ouvrir le navigateur Matbay">
					<mat-icon>music_video</mat-icon>
				</button>
				<button mat-button color="primary" (click)="songPropertyManager.onNavigate(song)"
					matTooltip="Regarder la vidéo sur le site d'origine">
					<mat-icon>play_circle_outline</mat-icon>
				</button>
				<button mat-button color="primary" (click)="toggleFavorite(song, auth)"
					[disabled]="noMoreFavorites(song) || !canModifyFavorite() || !isInConstitution()">
					<mat-icon *ngIf="isAFavorite(song); else normalSong" class="favorite">favorite</mat-icon>
				</button>
				<app-optionnal-song-infos-button class="favorite-button" [song]="song" [isButtonRaised]="false">
				</app-optionnal-song-infos-button>
				<button *ngIf="isCurrentUserSong(song)" [disabled]="!canDeleteSong()" mat-button color="warn"
					class="cancel" (click)="openDeleteSongWarning(song)" matTooltip="Retirer la musique">
					<mat-icon>cancel</mat-icon>
				</button>
			</div>
		</mat-card>
	</div>
</ng-template>
<ng-template #compactView>
	<table id="t01">
		<tr>
			<th> Favoris </th>
			<th> Titre </th>
			<th> Auteur </th>
			<th> URL </th>
			<th> Ajouté par </th>
			<th> Infos </th>
			<th></th>
		</tr>
		<tr *ngFor="let song of getSongs()">
			<td>
				<button mat-button color="primary" (click)="toggleFavorite(song, auth)"
					[disabled]="noMoreFavorites(song) || !canModifyFavorite() || !isInConstitution()">
					<mat-icon *ngIf="isAFavorite(song); else normalSong" class="favorite">favorite</mat-icon>
				</button>
			</td>
			<td>
				<button mat-button class="table-navigator-button" (click)="openSongNavigator(song)">
					{{ song.title }}
				</button>
			</td>
			<td> {{ song.author }} </td>
			<td>
				<a href="{{song.url}}" target="_blank">
					<mat-icon>play_circle_outline</mat-icon>
				</a>
			</td>
			<td> {{ getUser(song.user).displayName }} </td>
			<td> <app-optionnal-song-infos-button [song]="song" [isButtonRaised]="false">
				</app-optionnal-song-infos-button> </td>
			<td>
				<button *ngIf="isCurrentUserSong(song)" [disabled]="!canDeleteSong()" mat-button color="warn"
					(click)="openDeleteSongWarning(song)" matTooltip="Retirer la musique">
					<mat-icon>cancel</mat-icon>
				</button>
			</td>
		</tr>
	</table>
</ng-template>

<ng-template #normalSong>
	<mat-icon>favorite_border</mat-icon>
</ng-template>