@import "../../../../styles/variables.scss";

.filter {
	display: inline-block;
	margin-top: -5%;
	margin-bottom: 20px;
	width: 100%;
	background-color: $mineshaft;
	border-radius: 25px;
	border: 2px solid $sasuke;
}

.filter-text {
	margin-left: 2%;
	margin-top: 2%;
	margin-right: 2%;
}

.filter-button {
	margin-left: 2%;
	margin-top: 8px;
	margin-bottom: 8px;
}

table {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	overflow-x: auto;
	font-size:medium;
}

td, th {
	border: 1px solid $sasuke;
	text-align: center;
	padding: 8px;
}

#t01 th {
	background-color: $mineshaft;
	color: whitesmoke;
}

#t01 tr:nth-child(even) {
	background-color: $sasuke;
}
#t01 tr:nth-child(odd) {
	background-color: $cape-cod;
}

.centered {
	cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
	overflow: hidden;
}

.cancel {
	float: right;
}

.menu-panel {
	color: whitesmoke;
}

::ng-deep {
	.mat-menu-content {
		background-color: $bg-dark  !important;
	}

	.mat-menu-item:hover {
		background-color: $sasuke !important;
	}

	.mat-menu-panel {
		background-color: unset !important;
	}
}

.card-r {
	width: 26rem;
	height: 19.75rem;
	color: whitesmoke;
	background-color: $mineshaft;
	z-index: 0;
	overflow: hidden;
	.card-text {
		width: 21rem;
	}
	.card-body {
		padding: 5px 0 0 0;
		user-select: none;
		.iframe-image {
			width: 100%;
			height: 208px;
			border-radius: 10px;
			margin-bottom: 2px;
		}
		.iframe {
			width: 100%;
			height: 203px;
			padding: 0 0 0 0;
			border-radius: 10px;
		}
	}
	.mat-card-subtitle {
		color: $angular-purple;
	}
	.mat-card-avatar {
		width: 45px;
		height: 45px;
		margin-top: -8px;
	}
}

.card-background-img {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -2;
	overflow: hidden;
	opacity: 35%;
	filter: saturate(2);
	-webkit-filter: blur($blur);
		-moz-filter: blur($blur);
		-o-filter: blur($blur);
		-ms-filter: blur($blur);
	user-select: none;
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, 26rem);
	grid-gap: 25px;
	justify-content: center;
}
