@import "../../../../../styles/variables.scss";

table {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	overflow-x: auto;
	font-size:medium;
}

td, th {
	border: 1px solid $sasuke;
	text-align: center;
	padding: 8px;
}

#t01 th {
	background-color: $mineshaft;
	color: whitesmoke;
}

#t01 tr:nth-child(even) {
	background-color: $sasuke;
}
#t01 tr:nth-child(odd) {
	background-color: $cape-cod;
}

.avatar {
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 1%;
}

mat-expansion-panel {
  background-color: $mineshaft;
  color: whitesmoke;
}

mat-panel-title {
  color: whitesmoke;
}

mat-form-field {
  width: 35%;
}

::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
     color: whitesmoke;
  }
  .mat-form-field.mat-focused .mat-form-field-label {
      color: whitesmoke !important;
  }
  .mat-input-element {
      caret-color: whitesmoke!important;
  }
  
  mat-form-field {
      .mat-hint, input, ::placeholder, .mat-form-field-label {
          color: whitesmoke;
      }
  }
}