@import "../../../../../../styles/variables.scss";

table {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	overflow-x: auto;
	font-size: medium;
}

td,
th {
	border: 1px solid $sasuke;
	text-align: center;
	padding: 8px;
}

#t01 th {
	background-color: $mineshaft;
	color: whitesmoke;
}

#t01 tr:nth-child(even) {
	background-color: $sasuke;
}
#t01 tr:nth-child(odd) {
	background-color: $cape-cod;
}

.winner-container {
	position: relative;
	width: 100%;
	height: auto;
}

canvas {
	width: 100%;
	top: 0;
	left: 0;
}

.card {
	width: 42rem;
	height: 29rem;
	overflow: hidden;
	margin: auto;
	position: absolute;
	position: absolute;
	top: 50%; /* position the top  edge of the element at the middle of the parent */
	left: 50%; /* position the left edge of the element at the middle of the parent */

	transform: translate(-50%, -50%);
	border: 1px solid #fff2;
	border-radius: 16px;
}

.no-overflow {
	overflow: hidden;
}

.text-info {
	background-color: rgba($color: $cape-cod, $alpha: 0.75);
	width: fit-content;
	padding: 4px;
	border-radius: 6%;
}

.blur {
	filter: blur($blur);
	-webkit-filter: blur($blur);
	-moz-filter: blur($blur);
	-o-filter: blur($blur);
	-ms-filter: blur($blur);
	user-select: none;
}

.card-body {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	user-select: none;
}

iframe {
	width: 100%;
	padding-top: 35px;
}

.iframe-image {
	width: 100%;
	padding-top: 35px;
	padding-bottom: 5px;
	cursor: pointer;
	user-select: none;
}

.centered {
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
