@import "../../../../../../styles/variables.scss";

.box {
  border: 2px solid $sasuke;
  border-radius: 25px;
  background-color: $mineshaft;
}

.left-column {
  width: 45%;
  float: left;
  text-align: center;
  margin-right: 1%;
  margin-bottom: 1%;
}

.right-column {
  width: 53%;
  float: left;
  text-align: center;
  margin-left: 1%;
  // margin-right: 2%;
  overflow-x: auto;
  margin-bottom: 1%;
}

.rank-button {
  background-color: $mineshaft;
  color: whitesmoke;
}

.title-section {
  margin-top: 2%;
  margin-bottom: 2%;
}

table {
  color: whitesmoke;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	overflow-x: auto;
	font-size:medium;
}

td, th {
	border: 1px solid $sasuke;
	text-align: center;
	padding: 8px;
	overflow: auto
}

#t01 th {
	background-color: $mineshaft;
	color: whitesmoke;
}

#t01 tr:nth-child(even) {
	background-color: $sasuke;
}
#t01 tr:nth-child(odd) {
	background-color: $cape-cod;
}

.background {
  opacity: 35%;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur($blur);
	-webkit-filter: blur($blur);
    -moz-filter: blur($blur);
    -o-filter: blur($blur);
    -ms-filter: blur($blur);
	user-select: none;
}