@import "../../../../../../styles/variables.scss";

.box {
  border: 2px solid $sasuke;
  border-radius: 25px;
  background-color: $mineshaft;
}

.left-column {
  width: 48%;
  float: left;
  text-align: center;
  margin-right: 1%;
  margin-bottom: 1%;
}

.right-column {
  width: 50%;
  float: left;
  text-align: center;
  margin-left: 1%;
  margin-bottom: 1%;
  overflow-x: auto;
}

.rank-button {
  background-color: $mineshaft;
  color: whitesmoke;
}

.title-section {
  margin-top: 2%;
  margin-bottom: 2%;
}

table {
  color: whitesmoke;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	overflow-x: auto;
	font-size:medium;
}

td, th {
	border: 1px solid $sasuke;
	text-align: center;
	padding: 8px;
	overflow: auto
}

#t01 th {
	background-color: $mineshaft;
	color: whitesmoke;
}

#t01 tr:nth-child(even) {
	background-color: $sasuke;
}
#t01 tr:nth-child(odd) {
	background-color: $cape-cod;
}

.background {
  opacity: 35%;
  position: absolute;
  width: 80%;
  height: 100%;
  z-index: -1;
  filter: blur($blur);
	-webkit-filter: blur($blur);
    -moz-filter: blur($blur);
    -o-filter: blur($blur);
    -ms-filter: blur($blur);
	user-select: none;
}

.no_data {
  display: inline-block;
  height: 45px;
}

.fire {
  position: absolute;
  width: 80%;
  height: 100%;
  z-index: -1;
}

.left {
  margin-left: 1%;
}

.purple {
  background-color: $angular-purple;
}

::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: whitesmoke;
  }
  .mat-form-field.mat-focused .mat-form-field-label {
    color: whitesmoke !important;
  }

  .mat-select-value {
    color: whitesmoke;
  }

  mat-form-field {
      .mat-hint, input, ::placeholder, .mat-form-field-label {
          color: whitesmoke;
      }
  }

  .mat-primary .mat-option:hover {
    background-color: $sasuke;
  }

  .mat-option.mat-active {
    color: whitesmoke;
    background-color: $cape-cod;
  }

  .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    color: whitesmoke;
    background-color: $angular-purple;
  }
}
mat-option {
  color: whitesmoke;
  background-color: $cape-cod;
}